.signUp{
    border: 1px solid black;
    border-radius: 5px;
    margin:5px 30px 5px 30px;
    padding: 20px;

}
.styling{
    margin: 5px;
}
.submitForm{
    width: 120px;
    margin-right: 5px;
    border-radius: 10px;
    background-color:#257cff;
    color: white;
}
